.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.819);
    z-index: 1000;
}

.nav-bar ul {
    list-style: none;
    padding: 0;
}

@media (min-width: 768px) {
    .nav-bar ul {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        /* background-color: rgba(0, 225, 255, 0.466); */
    }

    .nav-bar li { 
        margin: 0.6rem 0;  
    }

    .nav-bar a {
        color: var(--dark-900);
        font-size: 0.8rem;
        display: block; 
        padding: 0.3rem 1rem;
        text-decoration: none;
        /* background-color: rgba(137, 43, 226, 0.265); */
    }
}