:root {
    --dark-background: #040404;
    --dark-900: #1f1f1f;
    --dark-800: #303030;
    --gray-700: #5a5a5a;
    --gray-500: #848484;
    --gren: #40e2af;
    --blue: #00afd5;
    --pink: #f17fed;
    --pink-selection: #f17fed58;
    --white: #fafafa;
    --dark-text: var(--dark-900);
    --light-text: var(--white);
  }
  
  * {
    font-family: Helvetica, sans-serif, Arial;
    margin: 0px;
  }